<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <section id="wrapper">
            <article class="post">
                <header>
                    <h1>{{ .Title }}</h1>
                    <h2 class="headline">{{ .Date.Format "02/01/2006" }}</h2>
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            <footer id="post-meta" class="clearfix">
                <!-- TODO: Add support for twitter with conditional behavior -->
                {{ with .Site.Params.twitter }}<a href="http://twitter.com/{{ . }}">{{ end }}
                    <img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png">
                    <div>
                        <span class="dark">{{ .Site.Params.name }}</span>
                        <span>{{ .Site.Params.bio }}</span>
                    </div>
                {{ with .Site.Params.twitter }}</a>{{ end }}
                <section id="sharing">
                    {{ partial "share.html" . }}
                </section>
            </footer>
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
