<nav class="main-nav">
	{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
	{{ if ne $url "" }}
		<a href='{{ .Site.BaseURL }}'> <span class="arrow">←</span>{{ with .Site.Params.home }}{{ . }}{{ else }}Home{{ end }}</a>
	{{ end }}

	{{ if ne $url "about/" }}
		<a href='{{ .Site.BaseURL }}about'>{{ with .Site.Params.about }}{{ . }}{{ else }}About{{ end }}</a>
	{{ end }}

	{{ if .Site.Params.enableRSS }}
	<a class="cta" href="{{ .RSSLink }}">{{ with .Site.Params.subscribe }}{{ . }}{{ else }}Subscribe{{ end }}</a>
	{{ end }}
</nav>